.column{
    display: flex;
    margin: none;
    flex-direction: column;
    justify-content: center;
}

.keypad{
    width: 50vw;
    display: flex;
    margin: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(180, 180, 180);
}